*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    display: block;
    margin: auto;
    width: 1200px;
}

a img{
    width: 80px;
}
.top{
    position: fixed;
    right: 100px;
    bottom: 200px;
}

.home{
    position: fixed;
    right: 100px;
    bottom: 100px;
}
